// -----------------------------------------------------------------
// * [Table Styles]
// *
// * @project Digboots Wordpress Theme
// * @version 1.0.0
// *
// * @author Dwi A. Hambali <dwi@aestik.com>
// * @author Pratama H. Salahudin <pratama@aestik.com>
// -----------------------------------------------------------------

/* [Default Table]
==================================================*/
table {
	width: 100%;
	margin-bottom: 2.5em;
	> thead,
	> tbody,
	> tfoot {
		> tr {
			> th,
			> td {
				padding: 1.667em;
				line-height: @lh-1-2;
				vertical-align: middle;
				text-align: left;
				border-bottom: 1px solid fade(@table-border-color, 60%);
			}
		}
	}

	> thead,
	> tbody,
	> tfoot {
		> tr {
			> th {
				padding: 1em 1.667em;
			}
		}
	}

	> thead > tr > th {
		padding: 1em 1.667em;
		vertical-align: bottom;
		border-bottom: 1px solid @special-separator-color;
		border-top: 1px solid @special-separator-color;
	}

	> caption + thead,
	> colgroup + thead,
	> thead:first-child {
		> tr:first-child {
			> td {
				border-top: 0;
			}
		}
	}

	> tbody + tbody {
		border-top: 2px solid @table-border-color;
	}
}
